# Python / Cache
__pycache__/
*.py[cod]
.DS_Store
*$py.class
.pytest_cache/

# Ambientes Virtuais
venv/
env/

# Variáveis de ambiente (NUNCA DEVEM IR PARA O DOCKER)
.env
*.env

# Git e IDEs
.git/
.gitignore
.vscode/
.idea/
